.nav {
  /* 
position이 fixed일 때는
width를 설정해야함.
*/
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
}

.nav .nav__list {
  /* 네비게이션바 아이콘 정렬 */
  display: flex;
  justify-content: space-between;
}

.nav i {
  /* 네비게이션바 아이콘 크기 */
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  /* 메시지 알림 갯수 표시 */
  /*
    absolute를 사용하기 위해
    부모에 relative로 설정
    */
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* 사각형 -> 원 */
}
